  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: "Times New Roman", "Times", "serif";
  }

  .background-1 {
    position: fixed;
    background-size: cover;
    background-position: center;
    z-index: -99999;
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
  }

  .background-2 {
    position: fixed;
    background-size: cover;
    background-position: center;
    z-index: -99999;
    width: 100vw;
    height: 100vh;
    background-image: url(images/background2.png);
  }

  .background-3 {
    position: fixed;
    background-size: cover;
    background-position: center;
    z-index: -99999;
    width: 100vw;
    height: 100vh;
    background-image: url(images/background3.png);
  }

  .background-4 {
    position: fixed;
    background-size: cover;
    background-position: center;
    z-index: -99999;
    width: 100vw;
    height: 100vh;
    background-image: url(images/background4.png);
  }

  .pause-screen-class {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 99999;
    text-align: center;
    font-size: 50px;
  }

  .info-div-class {
    display: flex;
    flex-direction: column;
    height: 375px;
    width: 325px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px 8px rgb(255, 255, 255);
  }

  .info-div-class .time-div-class,
  .info-div-class .alien-div-class,
  .info-div-class .nave-div-class {
    display: flex;
    flex-direction: row;
  }

  .info-div-class .time-div-class .clock-img,
  .info-div-class .alien-div-class .clock-img,
  .info-div-class .nave-div-class .clock-img {
    margin: 12px;
    height: 100px;
    width: 100px;
  }

  .info-div-class .time-div-class .timer-text-class,
  .info-div-class .alien-div-class .timer-text-class,
  .info-div-class .nave-div-class .timer-text-class {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 45px;
  }

  .info-div-class .nave-div-class .nave-img {
    margin: 12px;
    height: 100px;
    width: 100px;
  }

  .info-div-class .nave-div-class .nave-text-class {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 45px;
  }

  .info-div-class .alien-div-class .alien-img {
    margin: 12px;
    height: 100px;
    width: 100px;
  }

  .info-div-class .alien-div-class .alien-text-class {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 45px;
  }

  .player-div-class {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 300px;
  }

  .player-class {
    height: 1000px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .nave-class {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
  }

  .enemy-class {
    position: absolute;
    /*bottom: 0;*/
    /* Remova ou comente esta linha */
    top: -20px;
    /* Defina a distância do topo */
    left: 500px;
    /* Defina a distância da esquerda */
    height: 300px;
    /* Ajuste a altura conforme necessário */
    width: 300px;
    /* Ajuste a largura conforme necessário */
    display: flex;
    align-items: center;
    animation: descend 8s forwards;
  }

  .game-over-screen-class {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none;
    /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    z-index: 10000;
  }

  #restart-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }

  @keyframes descend {
    0% {
      top: -200px;
      /* Início fora da tela */
    }

    100% {
      top: 380px;
      /* Posição final (ajuste conforme necessário) */
    }
  }

  .enemy-img-class {
    width: 200px;
    height: 200px;
    z-index: 2;
    position: relative;

  }

  .player-img-class {
    width: 300px;
    height: 300px;
    z-index: 2;
    position: relative;

  }

  .missile1-class {
    margin-left: 80px;
    position: absolute;
    bottom: 18px;
    height: 280px;
    width: 200px;
    display: flex;
    justify-content: center;
  }

  .missile2-class {
    position: absolute;
    bottom: 18px;
    height: 280px;
    width: 200px;
  }


  .missile-img-class {
    width: 50px;
    height: 200px;
  }


  @keyframes missile-shoot {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-75vh);
    }
  }

  /*# sourceMappingURL=style.css.map */